# Custom Username 
# PS1='[\u@fedora \W]$ '

# Setting neovim as default editor
export EDITOR=nvim

# Aliases
alias c="clear"
alias nv="nvim"
alias ls="ls --color=auto"
alias ll="ls -lav --ignore=.. --ignore=."
alias lf="ranger"
# alias lf="yazi"
alias :q="exit"
alias wifi-password="nmcli device wifi show-password ifname wlp3s0"
alias system="fastfetch"
alias cat="bat"
alias rm="trash"
alias chbat="sudoedit /etc/auto-cpufreq.conf && sudo systemctl restart auto-cpufreq.service"
alias lg="lazygit"
