# Custom Username 
# PS1='[\u@fedora \W]$ '

# Setting neovim as default editor
export EDITOR=nvim

# Aliases
alias c="clear"
alias nv="nvim"
alias ls="ls --color=auto"
alias ll="ls -lav --ignore=.. --ignore=."
alias lf="ranger"
alias :q="exit"
alias wifi-password="nmcli device wifi show-password ifname wlan0"
alias system="fastfetch"
alias cat="bat"
alias rm="trash"
