* {
    border: none;
	border-radius: 0;
	font-family: HackNerdFont;
	color: white;
	font-size: 14px;
}

window {
	font-weight: bold;
}

window#waybar {
	background: #000000;
}

window#waybar.hidden {
	opacity: 0.2;
}

tooltip label {
	background-color: #000000;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 3px;
}

label:focus {
	background-color: #000000;
}

#workspaces {
	transition: none;
}

#workspaces button {
    color: #FFFFFF;
	background-color: transparent;
	padding-right: 0px;
	padding-left: 0px;
}

#workspaces button.active {
    border-color: #202020;
    color: white;
    background-color: #646464;
}

#workspace button.focused {
	background-color: #FFFFFF;
}

#workspaces button.urgent {
    border-color: #EB4D4B;
    color: #c9545d;
}


/* Modules */

#battery,
#clock,
#mode,
#network,
#pulseaudio,
#tray

/* Module styles */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: yellow;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: #64727D;
    border-top: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#network.disconnected {
    color: red;
}

#pulseaudio.output.muted {
    color: yellow;
}

#pulseaudio.input.source-muted {
    color: yellow;
}

#tray {
	padding-left: 6px;
	padding-right: 6px;
	margin: 0px 2px;
	background: #000000;
}
